@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700&display=swap);




.btn.btn-primary {
  background-color: #29d9c2;
  border-color: #29d9c2;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary.active {
  background-color: #111111;
  border-color: #111111;
}
.btn.btn-info {
  background-color: #2b4484;
  border-color: #2b4484;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn.btn-info.focus,
.btn.btn-info:active,
.btn.btn-info.active {
  background-color: #18264a;
  border-color: #18264a;
}
.btn.btn-success {
  background-color: #29d9c2;
  border-color: #29d9c2;
}
.btn.btn-success:hover,
.btn.btn-success:focus,
.btn.btn-success.focus,
.btn.btn-success:active,
.btn.btn-success.active {
  background-color: #1b9a8a;
  border-color: #1b9a8a;
}
.btn.btn-warning {
  background-color: #faaf40;
  border-color: #faaf40;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning.focus,
.btn.btn-warning:active,
.btn.btn-warning.active {
  background-color: #e78d06;
  border-color: #e78d06;
}
.btn.btn-danger {
  background-color: #f97352;
  border-color: #f97352;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger.focus,
.btn.btn-danger:active,
.btn.btn-danger.active {
  background-color: #f63709;
  border-color: #f63709;
}
.text-primary {
  color: #29d9c2 !important;
}
.text-info {
  color: #2b4484 !important;
}
.text-success {
  color: #29d9c2 !important;
}
.text-warning {
  color: #faaf40 !important;
}
.text-danger {
  color: #f97352 !important;
}
a {
  color: #29d9c2;
}
a:hover,
a:focus,
a.focus,
a:active,
a.active {
  color: #1b9a8a;
}
.mbr-primary-color,
.s2-box:hover .s2-box-ico div,
.content8 .nav-tabs > li > a::after,
.extFooter1 ul li:before,
.mbr-gallery-filter li:hover,
.extFooter1 ul li a:hover {
  color: #29d9c2 !important;
}
.navbar-nav > li > a:hover,
.dropdown1-menu > li > a:hover,
.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.dropdown-menu a:hover,
.nav-tabs > li.active > a,
.content8 .nav-tabs > li.active > a {
  color: #29d9c2 !important;
}
.cta-wrap.bg-dark .cta-btn.btn-default:hover,
.cta-wrap .cta-btn.btn-default:hover,
.mbr-primary-bgColor,
.nav-tabs > li > a::after,
.services-s5 .service-content:hover i {
  background: #29d9c2 !important;
}
blockquote {
  border-left-color: #29d9c2;
}
.process-step2 .btn-circle:hover,
.process-step2 .btn-info,
.mbr-slider .carousel-control:hover {
  background: #29d9c2 !important;
  border-color: #29d9c2 !important;
}
.services-s5 .service-content:hover i:after,
.cta-wrap.bg-dark .cta-btn:hover,
.cta-wrap.bg-primary .cta-btn:hover,
.nav-link.btn.btn-primary:hover {
  border-color: #29d9c2;
}
.mbr-gallery-filter li.active {
  color: #29d9c2;
  border-color: #29d9c2;
}
.cta-wrap .cta-btn.btn-default:hover,
.cta-wrap.bg-dark .cta-btn.btn-default:hover {
  background: #29d9c2;
  border-color: #29d9c2;
}
.mbr-title-font,
.mbr-gallery-filter li {
  font-family: 'Montserrat', sans-serif !important;
}
.mbr-text-font,
p {
  font-family: 'Raleway', sans-serif !important;
}
#dropdown-menu-1 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1 .navbar-brand a {
  font-size: 18px;
}
#dropdown-menu-1 .nav .link,
#dropdown-menu-1 .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-1 .navbar,
#dropdown-menu-1 .dropdown-menu {
  background: #333;
}
#dropdown-menu-1 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1 .dropdown-menu a:hover,
#dropdown-menu-1 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-1 .navbar-toggler {
  color: #ffffff;
}
#header2-9 P {
  font-size: 24px;
  color: #ffffff;
}
#header2-9 H4 {
  text-align: center;
}
#header2-9 B {
  font-size: 60px;
}
#header2-9 H2 {
  color: #ffffff;
}
#msg-box11-1a P {
  text-align: center;
  color: #222222;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
}
#msg-box11-1a B {
  font-size: 36px;
  font-family: 'Montserrat', sans-serif;
}
#header9-n B {
  font-size: 48px;
}
#contacts5-v B {
  font-size: 20px;
}
#contacts5-v H1 {
  font-size: 30px;
}
#header23-1f DIV {
  font-size: 48px;
}
#header23-1f B {
  font-size: 36px;
}
#dropdown-menu-w .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-w .navbar-brand a {
  font-size: 18px;
}
#dropdown-menu-w .nav .link,
#dropdown-menu-w .dropdown-item {
  font-size: 0.8em;
  color: #ffffff;
}
#dropdown-menu-w .navbar,
#dropdown-menu-w .dropdown-menu {
  background: #333;
}
#dropdown-menu-w .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-w .dropdown-menu a:hover,
#dropdown-menu-w .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-w .navbar-toggler {
  color: #ffffff;
}
#header2-11 B {
  font-size: 60px;
}
#header2-11 H4 {
  text-align: center;
}
#header2-11 P {
  font-size: 24px;
}
#header2-11 H2 {
  text-align: left;
}
#msg-box22-14 H2 {
  text-align: center;
  color: #2b4484;
}
#msg-box22-14 B {
  font-size: 46px;
}
#contacts5-x B {
  font-size: 20px;
}
#contacts5-x H1 {
  font-size: 30px;
}
#header23-16 DIV {
  font-size: 48px;
}
#header23-16 B {
  font-size: 36px;
}
